body:has(#tm:checked) {
    --text: hsl(246, 76%, 5%);
    --background: hsl(240, 60%, 99%);
    --primary: hsl(243, 68%, 48%);
    --secondary: hsl(243, 100%, 93%);
    --accent: hsl(242, 100%, 62%);
}

body {
    --text: hsl(243, 76%, 95%);
    --background: hsl(240, 60%, 1%);
    --primary: hsl(243, 68%, 52%);
    --secondary: hsl(243, 100%, 7%);
    --accent: hsl(242, 100%, 38%);
}


@import url('https://fonts.googleapis.com/css?family=Inter:700|Inter:400');

body {
    font-family: 'Inter';
    font-weight: 400;
    background-color: var(--background);
    color: var(--text);
    height: 100vh;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Inter';
    font-weight: 700;
}

html {
    font-size: 100%;
}

/* 16px */

h1 {
    font-size: 4.210rem;
    /* 67.36px */
}

h2 {
    font-size: 3.158rem;
    /* 50.56px */
}

h3 {
    font-size: 2.369rem;
    /* 37.92px */
}

h4 {
    font-size: 1.777rem;
    /* 28.48px */
}

h5 {
    font-size: 1.333rem;
    /* 21.28px */
}

small {
    font-size: 0.750rem;
    /* 12px */
}