main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.inputWraper {
    position: relative;
    width: 40%;
    height: 20vh;
    display: flex;
    margin: 10px;
}


#clear {
    position: absolute;
    top: -30px;
    visibility: hidden;
}

.inputWraper:hover #clear {
    visibility: visible;
    right: 10px;
    top: 10px;
}

textarea {
    text-wrap: nowrap;
    resize: none;
    border: none;
    border-radius: 5px;
    color: var(--text);
    background-color: rgba(0, 141, 141, 0.356);
    width: 100%;
    height: 100%;
    font-size: 20px;
}

header {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.theme-switcher {
    position: absolute;
    right: 15px;
    bottom: 50%;
    transform: translateY(50%);
}

#tm {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    margin: 0;
}

.theme-switcher span {
    font-size: 35px;
}

#convertButton {
    padding: 10px 20px;
    color: var(--text);
    border: none;
    border-radius: 10px;
    background: var(--primary);
}

body:has(#tm:checked) #convertButton {
    background: var(--secondary);
}

#convertButton:hover {
    box-shadow: 0 0 10px 3px white;
    padding: 15px 25px;
    font-weight: 700;
}

.ascii {
    width: 60%;
    overflow: scroll;
}

@media screen and (max-width: 500px) {
    header h1 {
        font-size: 40px;
    }
}