main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.inputWraper {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    margin: 10px;
    border-radius: 5px;
}

.inputWraper textarea:focus {
    box-shadow: 0px 0px 13px black;

}

#clear {
    cursor: pointer;
    position: absolute;
    top: -30px;
    visibility: hidden;
    opacity: 0;
}

#clear:hover {
    opacity: 1;
}

.inputWraper:hover #clear {
    visibility: visible;
    right: 10px;
    top: 10px;
}

textarea {
    border-radius: 5px;
    text-wrap: nowrap;
    resize: none;
    border: none;
    color: var(--text);
    background-color: rgba(0, 141, 141, 0.356);
    font-size: 20px;
    padding: 15px;
    width: 100%;
    height: 20vh;
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}


textarea::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.inputWraper:hover textarea::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}


body ::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 255, 255);
}

body:has(#tm:checked) ::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 0, 0);
}


::-webkit-scrollbar-track {
    cursor: auto;
    border-radius: 10px;
}


::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 10px;
    cursor: auto;
}


header {
    margin: 20px 0;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px black solid;
}

.theme-switcher {
    position: absolute;
    right: 15px;
    bottom: 50%;
    transform: translateY(50%);
}

#tm {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    margin: 0;
    z-index: 1;
}

body:has(#tm:checked) .theme-switcher:hover span {
    filter: drop-shadow(0px 0px 5px #4444dd);
}


.theme-switcher:hover span {
    /* box-shadow: 0px 0px 5px #ffffff; */
    filter: drop-shadow(0px 0px 5px #ffffff);
}

.theme-switcher span {
    font-size: 35px;
    z-index: -1;
}

#convertButton {
    padding: 12px 20px;
    color: var(--text);
    border: none;
    border-radius: 10px;
    background: var(--primary);
}

body:has(#tm:checked) #convertButton {
    background: var(--secondary);
}

#convertButton:hover {
    box-shadow: 0 0 10px 3px white;
    font-weight: 700;
}

body:has(#tm:checked) #convertButton:hover {
    box-shadow: 0px 0px 5px #4444dd;
}

.ascii {
    width: 60%;
    overflow: auto;
}

@media screen and (max-width: 500px) {
    header h1 {
        font-size: 40px;
    }
}

.banners {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}

.banners select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    color: var(--text);
    font-weight: 900;
    padding: 10px 15px;
    border-radius: 8px;
    background: rgba(0, 141, 141, 0.356);
}

.banners option {
    color: black;
}


.actionArea {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}